{% extends 'layout/main.html.twig' %}

{% block title %}Formations{% endblock %}

{% block main %}
<style>
    body {
        background-color : white;
    }
</style>


<div>
TEST
</div>
{% endblock %}