{% extends 'layout/main.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body_attributes %}
    style="background-color: {{ background_color|default('#ffffff') }};"
{% endblock %}

{% block main %}
<style>
    body {
        background-color : white;
    }
</style>


<div>
TEST
</div>
{% endblock %}