{% extends 'layout/main.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<div class="bienvenue">
    {% if app.user %}
        <h1>Bienvenue {{ app.user.prenom}}</h1>
    {% else %}
        <h1>Bienvenue Invité</h1>
        <h2 class="reprendre">Connectez vous pour voir vos formations</h2>
    {% endif %}
</div>

<div class="formations">
    {% for formation in formations %}
         <h2>{{ formation.titre }}</h2>
            <div class="truncate">
                {{ formation.description }}
            </div>
        
    {% endfor %}

    {% if formations is empty  %}
        <h2>Aucune formation disponible.</h2>
    {% endif %}
</div>
{% endblock %}
