{% extends 'layout/main.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body_attributes %}
    style="background-color: {{ background_color|default('#ffffff') }};"
{% endblock %}

{% block main %}
<div class="bienvenue">
    {% if app.user %}
        <h1>Bienvenue {{ app.user.prenom}}</h1>
    {% else %}
        <h1>Bienvenue Invité</h1>
        <h2 class="reprendre">Connectez vous pour voir vos formations</h2>
    {% endif %}
</div>

<div class="formations">
    {% set hasFormation = false %}
    {% for formation in formations %}
        {% if formation.estVisible == 1 %}
            {% set hasFormation = true %}
            <h2>{{ formation.titre }}</h2>
            <div class="truncate">
                {{ formation.description }}
            </div>
        {% endif %}
    {% endfor %}

    {% if not hasFormation %}
        <h2>Aucune formation disponible.</h2>
    {% endif %}
</div>


{% endblock %}
