{% extends 'layout/main.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<div class="bienvenue">
    <h1>Bienvenue {{ app.user.prenom }}</h1>
</div>
<h2>Formations disponibles</h2>
<div class="formations">
    {% for formation in formationsDisponibles %}
         <h3>{{ formation.titre }}</h3>
            <div class="truncate">
                {{ formation.description }}
            </div>
    {% endfor %}

    {% if formationsDisponibles is empty %}
        <h2>Aucune formation disponible.</h2>
    {% endif %}
</div>
{% endblock %}