<footer>
    <nav id="footer-nav">
        <div id="footer-nav-links">
            <a href={{ path('app_admin') }}>
                <i class="fa-solid fa-toolbox"></i>
            </a>
            <a href={{ path('app_formations') }}>
                <i class="fa-solid fa-chalkboard-user"></i>
            </a>
            <a href={{ path('app_account') }}>
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </nav>
</footer>