{% extends 'layout/main.html.twig' %}

{% block title %}Salles{% endblock %}

{% block main %}
    <h1>Salles</h1>
    <table class="table-panel">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox"></th>
                <th scope="col">Nom</th>
                <th scope="col">Batiment</th>
                <th scope="col">Maximum de places</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <form id="formation-create-form" action="/api/sessions" method="post">
                <tr>
                    <td>
                        <i class="fa-solid fa-file-circle-plus"></i>
                    </td>
                    <td>
                        <input class="table-textfield" type="text" name="nom" required>
                    </td>
                    <td>
                        <input class="table-textfield" type="text" name="batiment">
                    </td>
                    <td>
                        <input class="table-textfield" type="number" name="nb_places_max">
                    </td>
                    <td>
                        <button type="submit" class="table-btn utility-button" title="création">
                        <i class="fa-solid fa-check"></i>
                        </button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
{% endblock %}