{% extends 'layout/main.html.twig' %}

{% block title %}Mes Formations{% endblock %}

{% block main %}
<div id="calendar-holder"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const calendarEl = document.getElementById('calendar-holder');

        const calendar = new FullCalendar.Calendar(calendarEl, {
            defaultView: 'dayGridMonth',
            editable: false,
            locale: 'fr',
            weekends: false,
            firstDay: 1,
            eventSources: [
                {
                    url: '/fc-load-events',
                    method: 'POST',
                    extraParams: {
                        filters: JSON.stringify({})
                    },
                    failure: () => {
                        // alert('There was an error while fetching FullCalendar!');
                    },
                    color: 'red'
                },
            ],
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            },
            eventClick: () => {
                console.log("TEST")
            },
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            timeZone: 'UTC',
            });

            calendar.render();
        });
    </script>
</div>
{% endblock %}
