@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #A2BF3D;
    --utility-color: #6F82FF;
    --warning-color: #ff0000;

    --login-background-color: var(--primary-color);

    --header-height: 100px;
    --footer-height: 120px;

    --header-transition: all 0.5s ease-in-out;
    --footer-transition: all 0.5s ease-in-out;
}

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.primary-background {
    background-color: var(--login-background-color);
}

.utility-color {
    color: white;
    background-color: var(--utility-color);
    border: solid 1px var(--utility-color);
}

.utility-color:hover {
    color: var(--utility-color);
    background-color: white;
}

.warning-color {
    color: white;
    background-color: var(--warning-color);
    border: solid 1px var(--warning-color);
}

.warning-color:hover {
    color: var(--warning-color);
    background-color: white;
}


/*
---------------------------------------------- 
BALISES GENERALES
---------------------------------------------- 
*/

.h3 {
    font-size: 1.5rem;
}

input {
    min-width: 15rem;
    box-sizing: border-box;
}

label {
    font-size: 1.125rem;
    margin: 1rem 0 0.5rem 0;
}

.textfield {
    min-width: 100%;
    font-size: 1.125rem;
    border: solid 1px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    padding: 0.75rem 1rem;
}

.btn {
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem;
    border-radius: 15px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}


a {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.scrollable-main {
    padding: 2rem 4rem;
    top: var(--header-height);
    bottom: var(--footer-height);
    position: absolute;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

/*
---------------------------------------------- 
HEADER
---------------------------------------------- 
*/
header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top:0;
    box-sizing: border-box;
    background-color: white;
    border-bottom: solid 1px var(--primary-color);
    z-index: 1000;
}

#header-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-nav-left-side {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo-container {
    height: 100%;
    padding: 0 3rem;
    transition: var(--header-transition);
}

#header-logo-container:hover {
    background-color: #A2BF3D;
}

#header-logo {
    width: 60px;
    height: 60px;
    padding: 1rem;
}

#header-nav-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-nav-links > a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 2rem;
    color: black;
    transition: var(--header-transition);
}

#header-nav-links>a:hover {
    background-color: var(--primary-color);
    color: white;
}

.logout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 3rem;
}


/*
---------------------------------------------- 
FOOTER
---------------------------------------------- 
*/

footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    border-top: solid 1px var(--primary-color);
    background-color: white;
    z-index: 1000;
}

.footer-nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-nav, #footer-nav-links, #footer-nav-links>a {
    height: 100%;
}

#footer-nav-links>a>svg {
    width: 50px;
    height: 50px;
    padding: 2rem 5rem;
    transition: var(--footer-transition);
}

#footer-nav-links>a>svg:hover {
    background-color: #A2BF3D;
}


/*
---------------------------------------------- 
LOGIN PAGE
---------------------------------------------- 
*/

.login-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.alert {
    display: absolute;
}

.login-panel {
    width: 60%;
    max-width: 900px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 25px;
    background-color: white;
    padding: 3rem;
}

.login-panel-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3rem;
}

.login-form>label {
    text-align: center;
}

.login-btn {
    margin-top: 4rem;
}

/*
---------------------------------------------- 
ACCOUNT PAGE
---------------------------------------------- 
*/

.settings-container {
    padding: 0 1rem;
    text-align: left;
}

.settings-title-container {
    display: flex;
    align-items: center;
}

.settings-title {
    padding: 0 2rem;
    white-space: nowrap;
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

.settings-reset-password-container {
    display: flex;
    flex-direction: column;
}

.settings-reset-password-inputs-container {
    display: flex;
    flex-direction: row;
}

.settings-reset-password-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.settings-btn {
    margin-top: 2rem;
}


/*
---------------------------------------------- 
MEDIA QUERIES
---------------------------------------------- 
*/


@media screen and (max-width: 1000px) {
    #header-nav-links {
        display: none;
    }

    .settings-reset-password-inputs-container {
        flex-direction: column;
    }

    .login-panel {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        border-radius: 0%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:fixed;
    }

}

@media screen and (max-width: 700px) {
    #footer-nav-links>a>svg {
        padding: 2rem 3rem;
    }

    .logout-btn>span {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #footer-nav-links>a>svg {
        padding: 2rem 2rem;
    }
}

/* ---------------------------------------------- */
.bienvenue {
    margin-left: 40px;
    width: 80%;
    text-align: center;
    width: 550px;
    font-size: 25px;
}

.bienvenue h2 {
    font-weight: lighter;
    font-size: 35px;
    width: 540px;
}


/* ---------------------------------------------- */
.truncate {
    width: 80%;
    margin: auto;
    font-weight: 200; /* Utilise 300, 400, etc. – 250 n’est pas standard */
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    /* Facultatif : pour éviter des effets visuels bizarres */
    word-break: break-word;

}

.formations {
    width:  100%;
    height: 50px;
    font-size: 23px;
}

.formations h2 {
    text-align: left;
    margin-top: 100px;
    margin-left: 150px;
}
