{% extends 'base.html.twig' %}

{% block body %}
    {% include 'includes/_header.html.twig' %}
    <main {% block main_attributes %}{% endblock %}>
        {% block main %}{% endblock %}
    </main>
    {% include 'includes/_footer.html.twig' %}
{% endblock %}